/* STILI GENERALI */

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Spectral", serif;
}

button {
  font-family: "Spectral", serif;
  background-color: black;
  color: white;
}

/* STILE NAV */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  background-color: #ffc017;
}

ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  padding: 20px;
  color: black;
  cursor: pointer;
}

nav ul a {
  text-decoration: none;
}

li button {
  border-radius: 30px;
  padding: 10px 17px;
  cursor: pointer;
}

/* STILE HEADER */

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: #ffc017;
}

.header-content h1 {
  font-size: 106px;
  margin-block-end: 1.5rem;
}

.header-content p {
  font-size: 25px;
  margin-block-end: 1.5rem;
}

.header-content button {
  border-radius: 30px;
  padding: 4px 50px;
  cursor: pointer;
  font-size: 1.4rem;
}

/* STILE SECTION-TOP */

.section-top {
}

.section-top > h4 {
  font-size: 1.3rem;
}
